$core-color: #3e3e3e;

body {
	position: relative;
	// color: red;
}

#wrapper {
	// margin-bottom: 500px;
	// overflow: hidden;

}

.navbar-default {
	background-color: transparent;
	// background-color: lighten( $core-color, 20% );
	border-color: transparent;
	// border: 2px solid red;

}

.canvas {
	.navbar-toggle {
		border-color: lighten( $core-color, 40%);
		// border: 1px solid red;
		.icon-bar {
			background-color: white;
		}

		&:focus {
			background: black;
		}
	}
}


.video-container {

	// position: relative;

	video#second-section-video {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		z-index: -99;
		// background: url("img/second-section.jpg") no-repeat;
		background-size: cover;
	}

	.text-content {
		
		background-color: transparentize( darkred, .3 );

		padding-top: 2rem;
		padding-bottom: 2rem;
		margin-bottom: 2rem;
		margin-left: 2rem;
		margin-right: 2rem;

		h4 {
			padding-bottom: 2rem;
		}
	}

}

.main-footer {
	background-color:  lighten( $core-color, 10% );
	margin-bottom: 3rem;
	// position: fixed;
	// border: 1px solid red;
	// bottom: 0;
	// z-index: 2;
}

.main-content {
	// z-index: 5;
	.row {
		// margin-right: 0px;
		// margin-left: 0px;
	}
}

.header-text {
	margin-top: 5rem;
	padding-top: 2rem;
	color: lighten( $core-color, 30% );
}



/*==========================================
=            BLOG INDEX PAGE               =
==========================================*/

.blog-index-block {


	margin-top: 6rem;

	.blog-index-nav {
		margin-top: 4rem;
	}

	.blog-item-block {
		
		background-color: transparentize( $core-color, .2 );

		.blog-index-img {

			padding-left: 0px;

			img {
				@include transition(all .5s ease-in-out);
				opacity: .6;

				&:hover {
					opacity: 1;
				}
			}
		}

		.blog-index-text {

			color: lighten( $core-color, 50% );
			padding-top: 2rem;
			padding-left: 2rem;
			padding-bottom: 2rem;

			.single-post-meta {

				padding-top: 1.5rem;

				a {
					color: darken( dodgerblue, 0% );

					&:hover, &:focus {
						color: lighten( dodgerblue, 20% );

					}
				}
			}
		}

		.blog-index-nav {

			margin-top: 2rem;
		}

	}

}

/*=====  End of BLOG INDEX SECTION  ======*/



/*==========================================
=            SPEAKERS INDEX PAGE            =
==========================================*/

.speakers-index-block {


	margin-top: 6rem;

	.speakers-item-block {
		
		background-color: transparentize( $core-color, .5 );


		img {
			opacity: .6;
		}

		a.btn {
			margin-top: 3rem;
		}

	}

}

/*=====  End of SPEAKER INDEX PAGE  ======*/



/*===========================================
=            SINGLE SPEAKER PAGE            =
===========================================*/

.single-speaker-page-index-block {


	margin-top: 6rem;

	.single-speaker-page-index-img {

		padding-bottom: 3rem;

		img {
			opacity: .8;
		}

	}

	.single-speaker-page-item-block {

		// background-color: transparentize( $core-color, .2 );

		.single-speaker-page-index-text {



			background-color: transparentize( $core-color, .2 );

			color: lighten( $core-color, 50% );
			padding-top: 2rem;
			padding-left: 4rem;
			padding-right: 4rem;
			padding-bottom: 2rem;
			margin-bottom: 2rem;

			h3 {
				font-size: 3rem;
				padding-top: 2rem;
			}

			p {
				padding-top: 1rem;
				padding-bottom: 1rem;
			}

			.single-post-meta {

				padding-top: 1.5rem;

				a {
					color: darken( dodgerblue, 0% );

					&:hover, &:focus {
						color: lighten( dodgerblue, 20% );

					}
				}
			}

		}

	}

}

/*=====  End of SINGLE SPEAKER PAGE  ======*/



/*=====================================
=            ABOUT US PAGE            =
=====================================*/

.about-index-block {

	margin-top: 6rem;
	margin-bottom: 3rem;
	// border: 1px solid red;

	.about-item-block {

		background-color: transparentize( $core-color, .3 );

		h3 {
			color: lighten( $core-color, 50% );
			padding-bottom: 2rem;
			font-weight: 700;
		}

		.slick-slider {
			// border: 1px solid yellow;

			div {
				padding-left: 1.5rem;
				padding-top: 1rem;
				// margin: 0 auto;
			}
		}

		.about-index-text {

			color: lighten( $core-color, 50% );
			padding-top: 2rem;
			padding-left: 2rem;
			padding-bottom: 3rem;
		}

	}

}


/*=====  End of ABOUT US PAGE  ======*/



/*==========================================
=            SINGLE POST               =
==========================================*/

.single-blog-index-block {

	margin-top: 6rem;

	.single-blog-index-img {

		padding-left: 0px;
		padding-bottom: 3rem;

		img {
			opacity: .8;
		}

	}

	.single-blog-item-block {
		
		// background-color: transparentize( $core-color, .2 );



		.single-blog-index-text {

			background-color: transparentize( $core-color, .2 );

			color: lighten( $core-color, 50% );
			padding-top: 2rem;
			padding-left: 4rem;
			padding-right: 2rem;
			padding-bottom: 2rem;
			margin-bottom: 2rem;

			h3 {
				font-size: 3rem;
			}

			.single-post-meta {

				padding-top: 1.5rem;

				a {
					color: darken( dodgerblue, 0% );

					&:hover, &:focus {
						color: lighten( dodgerblue, 20% );

					}
				}
			}
		}

	}

}

/*=====  End of  SINGLE POST  ======*/



/*===================================
=            SINGLE PAGE            =
===================================*/

.single-page-index-block {


	margin-top: 6rem;

	.single-page-index-img {

		padding-left: 0px;
		padding-bottom: 3rem;

		img {
			opacity: .8;
		}

	}

	.single-page-item-block {
		
		// background-color: transparentize( $core-color, .2 );



		.single-page-index-text {

			background-color: transparentize( $core-color, .2 );

			color: lighten( $core-color, 50% );
			padding-top: 2rem;
			padding-left: 4rem;
			padding-right: 4rem;
			padding-bottom: 2rem;
			margin-bottom: 2rem;

			h3 {
				font-size: 3rem;
			}

			p {
				padding-top: 1rem;
				padding-bottom: 1rem;
			}

		}

	}

}

/*=====  End of SINGLE PAGE  ======*/



/*=======================================
=            FULL WIDTH PAGE            =
=======================================*/

.fullwidth-page-index-block {


	margin-top: 6rem;

	.fullwidth-page-index-img {

		padding-bottom: 3rem;

		img {
			opacity: .8;
		}

	}

	.fullwidth-page-item-block {
		
		// background-color: transparentize( $core-color, .2 );



		.fullwidth-page-index-text {

			background-color: transparentize( $core-color, .2 );

			color: lighten( $core-color, 50% );
			padding-top: 2rem;
			padding-left: 4rem;
			padding-right: 4rem;
			padding-bottom: 2rem;
			margin-bottom: 2rem;

			h3 {
				font-size: 3rem;
				padding-top: 2rem;
			}

			p {
				padding-top: 1rem;
				padding-bottom: 1rem;
			}

		}

	}

}

/*=====  End of FULL WIDTH PAGE  ======*/



/*===================================
=            Main Footer            =
===================================*/

.main-footer {

	margin-top: 5rem;
	color: lighten( $core-color, 30% );
	background-color: transparentize( lighten( $core-color, 10% ), .1 );


	aside {
		padding-top: 3rem;
		padding-bottom: 3rem;
	}
}
.copyright {
	padding-bottom: 2rem;
	padding-top: -2rem;
	color: lighten( $core-color, 40% );
	// border: 1px solid red;
}

.widget {


	padding-left: 5rem;

	h3 {
		// margin-left: 3rem;
		color: lighten( $core-color, 35% );

	}
	ul {
		list-style-type: none;
		// margin-left: 5rem;
		padding-left: 0;

		li {
			// margin-left: 0;

			a {
					// border: 1px solid red;

				border-bottom: 2px solid grey;
				padding-top: 1rem;
				padding-bottom: .5rem;
				padding-left: 1rem;
				display: block;
				@include transition(all .5s ease-in-out);

				&:hover, &:focus{
					background-color: $core-color;
					text-decoration: none;
					color: white;
				}

				img {
					padding-right: 1rem;
				}

				i.fa {
					padding-right: 1rem;
				}
			}
		}
	}
}

/*=====  End of Main Footer  ======*/





































