$core-color: #3e3e3e;

body {
	position: relative;
}

#wrapper {
	// margin-bottom: 500px;
	// overflow: hidden;

}

.navbar-default {
	background-color: lighten( $core-color, 20% );
	border-color: $core-color;
	// border: 2px solid red;

}

.canvas {
	.navbar-toggle {
		border-color: lighten( $core-color, 40%);
		// border: 1px solid red;
		.icon-bar {
			background-color: white;
		}

		&:focus {
			background: black;
		}
	}
}


.video-container {

	// position: relative;

	video#second-section-video {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		z-index: -99;
		// background: url("img/second-section.jpg") no-repeat;
		background-size: cover;
	}

	.text-content {
		
		background-color: transparentize( darkred, .3 );

		padding-top: 2rem;
		padding-bottom: 2rem;
		margin-bottom: 2rem;
		margin-left: 2rem;
		margin-right: 2rem;

		h4 {
			padding-bottom: 2rem;
		}
	}

}

.main-footer {
	background-color:  lighten( $core-color, 10% );
	margin-bottom: 3rem;
	// position: fixed;
	// border: 1px solid red;
	// bottom: 0;
	// z-index: 2;
}

.main-content {
	// z-index: 5;
	.row {
		// margin-right: 0px;
		// margin-left: 0px;
	}
}

.header-text {
	margin-top: 5rem;
	padding-top: 2rem;
	color: lighten( $core-color, 30% );
}



/*==========================================
=            BLOG INDEX PAGE               =
==========================================*/

.blog-index-block {


	margin-top: 6rem;

	.blog-item-block {
		
		background-color: transparentize( $core-color, .2 );

		.blog-index-img {

			padding-left: 0px;

			img {
				@include transition(all 1.0s ease-in-out);
				opacity: .6;

				&:hover {
					opacity: 1;
				}
			}
		}

		.blog-index-text {

			color: lighten( $core-color, 50% );
			padding-top: 2rem;
		}

	}

}

/*=====  End of BLOG INDEX SECTION  ======*/





































